{% extends 'base.html' %} {% block content %}

<div>
  <form action={% url 'base' %} method="post">
    {% csrf_token %}
    <div class="flex flex-col items-center w-screen h-screen">
      <div class="w-1/2 mt-14 h-12">
        <span>GHL Location ID</span>
        <input
          placeholder="Enter GHL Location ID"
          class="w-full h-full shadow-xl border border-gray-300"
          name='location'
        />
      </div>
      <div class="w-1/2 mt-14 h-12">
        <span>GHL Private API Access Code</span>
        {% if code %}
        <input
          value="{{code}}"
          class="w-full h-full shadow-xl border border-gray-300"
          name='code'
        />
        {% else %}
        <input
          placeholder="Enter GHL Private API Access Code"
          class="w-full h-full shadow-xl border border-gray-300"
          name='code'
        />
        {% endif%}
      </div>
      <div class="md:flex m-14 md:gap-14">
        <div>
          <button
            class="bg-blue-500 px-16 py-3 shadow-2xl rounded-md active:scale-90 transition-all ease-in-out"
            type='submit' value='submit'
          >
            Validate and Submit
          </button>
        </form>
        </div>
        <div>
          <a href="{{url}}">
            <div
              class="bg-emerald-600 px-10 py-3 shadow-2xl rounded-md active:scale-90 transition-all ease-in-out"
            >
              Grab your GHL Access Code
            </div>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
