# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
# Jupyter Notebook 
.ipynb_checkpoints 
# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 
# Environments 
.env 
# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
# others
notes.txt